<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>1.2.2, © 2007-2011 Kent Sutherland</string>
	<key>CFBundleIconFile</key>
	<string>Warp.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.ksuther.warp.prefpane</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Warp</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>WrpP</string>
	<key>CFBundleVersion</key>
	<string>1.2.2b1</string>
	<key>NSMainNibFile</key>
	<string>WarpPreferences</string>
	<key>NSPrefPaneIconLabel</key>
	<string>Warp</string>
	<key>NSPrefPaneSearchParameters</key>
	<string>Warp</string>
	<key>NSPrincipalClass</key>
	<string>WarpPreferences</string>
	<key>VersionNumber</key>
	<integer>121</integer>
</dict>
</plist>
